@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #__nuxt, #__layout{
  @apply bg-primary;
  height:100%!important;
  width: 100%!important;
  font-family: Roboto Mono, Inter var, Proxima Nova, system-ui, sans-serif;
  @apply transition-colors duration-500;
}

@layer components {
  .btn-primary {
    @apply bg-accent hover:bg-accent-hover;
    @apply text-inverted;
    @apply rounded-md;
    @apply px-4 py-2 flex w-full justify-center;
    @apply transition-colors duration-300 cursor-pointer;
    &:disabled {
      @apply bg-accent;
      @apply cursor-not-allowed;
    }
  }

  .btn-secondary {
    @apply bg-primary;
    @apply text-muted;
    @apply border-sm rounded-md border-primary hover:border-primary-hover;
    @apply px-4 py-2 flex w-full justify-center;
    @apply transition-colors duration-300 cursor-pointer;
  }
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Material+Icons|Material+Icons+Round");
